.navbar{
    background-color: #F50808 !important;
}

input{
    background-color: #D20B0B !important;
    width: 400px !important;
}
.jum{
    background-color: #F50808;
}

.back{
    background-color: #F50808;
}

.desc{
    background-color: #F9FD3B;
}